<h1>Listing Drivers</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Birthdate</th>
    <th>Image</th>
    <th></th>
  </tr>
 
  <% @drivers.each do |driver| %>
    <tr>
      <td><%= driver.name %></td>
      <td><%= driver.email %></td>
      <td><%= driver.birthdate %></td>
      <td><%= driver.image %></td>
      <td><%= link_to 'Show', driver_path(driver) %></td>
    </tr>
  <% end %>
</table>