<h1>New Driver</h1>
<%= form_with scope: :driver, url: drivers_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
 
  <p>
    <%= form.label :birthdate %><br>
    <%= form.text_field :birthdate %>
  </p>
 
  <p>
    <%= form.label :image %><br>
    <%= form.text_field :image %>
  </p>
 
  <p>
    <%= form.label :cars %><br>
    <%= form.collection_select :cars_ids, Car.all, :id, :title, { :include_blank => false }, { :multiple => true } %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', drivers_path %>