<p>
  <strong>Title:</strong>
  <%= @driver.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @driver.birthdate %>
</p>

<p>
  <strong>Image:</strong>
  <%= @driver.image %>
</p>

<%= link_to 'Back', drivers_path %>